<ion-header-bar class="bar header-bar" align-title="center">
<div class="buttons">
    <a ng-click="myGoBack()"> <i class="icon ion-chevron-left" style="color: white;font-size: 35px"></i></a>
  </div>
  <h1 class="title" style="color: white;">Sign up</h1>
</ion-header-bar>
  <ion-content class="has-header">
  <br>
    <div align="center">
      <img src="img/login/logo.png" width="170">
    </div>
    <br>
    <form>

      <span class="item-input item-stacked-label">
      <span class="input-label" style="color: #2B2765;">First name</span><br>
        <div style="border-bottom: 1px solid">
        <img src="img/Signup/name.png" style="width: 30px; height: 30px">
        <div style=""><input type="text" placeholder="John" style="color:#2B2765; width: 50%; padding-left: 10%;margin-top: -30px; margin-left: 10px"></div>
        </div>
      </span>

      <span class="item-input item-stacked-label">
      <span class="input-label" style="color: #2B2765;">Email Address</span><br>
        <div style="border-bottom: 1px solid">
        <img src="img/Signup/username_1.png">
        <div style=""><input type="text" placeholder="John@gmail.com" style="color:#2B2765; width: 50%; padding-left: 10%;margin-top: -30px; margin-left: 10px"></div>
        </div>
      </span>
      
      <span class="item-input item-stacked-label">
      <span class="input-label" style="color: #2B2765; width: 50%">Mobile number</span><br>
        <div style="border-bottom: 1px solid">
        <img src="img/Signup/phone.png">
        <div style=""><input type="number" placeholder="+92333257866" style="color:#2B2765; width: 50%; padding-left: 10%;margin-top: -30px; margin-left: 10px"></div>
        </div>
      </span>

      <span class="item-input item-stacked-label">
      <span class="input-label" style="color: #2B2765;">Password</span><br>
        <div style="border-bottom: 1px solid">
        <img src="img/Signup/password.png">
        <div style=""><input type="password" placeholder="*******" style="color:#2B2765; width: 50%; padding-left: 10%;margin-top: -30px; margin-left: 10px"></div>
        </div>
      </span>


      <span class="item-input item-stacked-label">
      <span class="input-label" style="color: #2B2765; width: 50%">Confirm Password</span><br>
        <div style="border-bottom: 1px solid">
        <img src="img/Signup/password.png">
        <div style=""><input type="password" placeholder="*******" style="color:#2B2765; width: 50%; padding-left: 10%;margin-top: -30px; margin-left: 10px"></div>
        </div>
      </span>

      <div align="center">
        <br>
          <button class="button button-block button-royal" style="border-radius:20px;width: 70%; background-color: #DCDCDC;" ng-click="go_to_signup()">
          <span style="color:#662d91;">Sign up</span>
        </button>
      </div>


    </form>

  </ion-content>
</ion-view>