<ion-header-bar class="bar header-bar" align-title="center">
<div class="buttons">
    <a ng-click="myGoBack()"> <i class="icon ion-chevron-left" style="color: white;font-size: 35px"></i></a>
  </div>
  <h1 class="title" style="color: white">Sign in</h1>
</ion-header-bar>

	<ion-content class="has-header" class="padding">
		<div align="center">
			<img src="img/login/logo.png" width="170">
		</div>
		<br>
		<form>
			<span class="item-input item-stacked-label">
				<span class="input-label" style="color: #2B2765;">Email Address</span><br>
				<div style="border-bottom: 1px solid">
					<img src="img/Signin/email.png">
					<div style=""><input type="text" placeholder="John@gmail.com" style="color:#2B2765; width: 50%; padding-left: 10%;margin-top: -30px; margin-left: 10px"></div>
				</div>

			</span>
			<span class="item-input item-stacked-label">
				<span class="input-label" style="color: #2B2765;">Password</span><br>
				<div style="border-bottom: 1px solid">
					<img src="img/Signin/password.png">
					<div style=""><input type="password" placeholder="******" style="color:#2B2765; width: 50%; padding-left: 10%;margin-top: -30px; margin-left: 10px"></div>
				</div>
			</span>
			<div align="center">
				<br>
				<div align="right">
					<a ng-href="#/Forgetpassword" style="color:#2B2765">Forget Password</a><img src="img/Signin/forgot.png" width="20" height="20">				
				</div>
				<br>
				<a ui-sref="app.home" style="text-decoration: none;">
				<button class="button button-block button-royal" style="border-radius:20px;width: 70%; background-color: #662d91">
			  	Sign in
				</button>
				</a>
			</div>
		</form>

	</ion-content>
