  <ion-content>
  <h1> Hello worold</h1>
 <div class="section2" style="
    height:;
">
    <table style="text-align: center;">
        <tbody style="
    /* height: 100%; */
"><tr style="color:#75429c;">

          <td style="border-bottom: 1px solid;border-right: 1px solid;text-align: center;width: 124.2px;/* height: 151px; */padding-top: 10%;padding-bottom: 10%;"><img style="margin: 3px; margin-top: 18px; width: 30% !important" src="img/Menu/Proofing.png">
          <h5>PROOFING</h5>
          </td>
          <td style=" border-bottom: 1px solid; border-right: 1px solid; text-align: center; width: 124.2px; "><img src="img/Menu/cartpentry.png" style="width: 30% !important">
          <h5>CARTPENTRY</h5></td>
          <td style=" border-bottom: 1px solid; text-align: center; width: 124.2px;"><img src="img/Menu/walls.png" style="width: 30% !important">
          <h5>WALLS</h5></td>
        </tr>


        <tr style="color:#75429c;">
        
          <td style="border-bottom: 1px solid;border-right: 1px solid;text-align: center;width: 124.2px;/* height: 151px; */padding-top: 10%;padding-bottom: 10%;">
          <a ng-click="go_to_plumbing()" ui-sref="app.plumbing" style="text-decoration: none; color: #662d91">
          <img src="img/Menu/plumbing.png" style="width: 30% !important">
          <h5>PLUBMING</h5>
          </a>
          </td>

          <td style=" border-bottom: 1px solid; border-right: 1px solid; text-align: center; width: 124.2px; "><img src="img/Menu/electrical@2x.png" style="width: 30% !important">
          <h5>ELECTRICAL</h5></td>
          <td style=" border-bottom: 1px solid; text-align: center; width: 124.2px; "><img src="img/Menu/decor.png" style="width: 30% !important">
          <h5>DECOR</h5></td>
        </tr>

        <tr style="color:#75429c;">
          <td style="border-bottom: 1px solid;border-right: 1px solid;text-align: center;width: 124.2px;/* height: 151px; */padding-top: 10%;padding-bottom: 10%;"><img src="img/Menu/cleaning.png" style="width: 30% !important">
          <h5>CLEANING</h5>
          </td>
          <td style=" border-bottom: 1px solid; border-right: 1px solid; text-align: center; width: 124.2px; "><img src="img/Menu/pest_control.png" style="width: 30% !important">
          <h5>PEST CONTROL</h5></td>
          <td style=" border-bottom: 1px solid; text-align: center; width: 124.2px; "><img src="img/Menu/lanscapping.png" style="width: 30% !important">
          <h5>LANDSCAPPING</h5></td>
        </tr>

        <tr style="color:#75429c;">
          <td style="border-bottom: 1px solid;border-right: 1px solid;text-align: center;width: 124.2px;/* height: 151px; */padding-top: 10%;padding-bottom: 15%;"><img src="img/Menu/tiling.png" style="width: 30% !important">
          <h5>TILING</h5>
          </td>
          <td style=" border-bottom: 1px solid; border-right: 1px solid; text-align: center; width: 124.2px; "><img src="img/Menu/A.C.png" style="width: 30% !important">
          <h5>A.C</h5></td>
          <td style=" border-bottom: 1px solid; text-align: center; width: 124.2px; "><img src="img/Menu/installation.png" style="width: 30% !important">
          <h5>INSTALLATION SERVICES</h5></td>
        </tr>
    </tbody></table>
  </div>
  </ion-content>