        <ion-view> 
          <ion-side-menus>
            <ion-pane ion-side-menu-content> 
<!--               <ion-header-bar class="bar header-bar"> 
                <div class="buttons"> 
                    <button ng-click ="toggleLeft()" class = "button button-icon" style="color: white"> 
                       <i class = "icon ion-navicon"> 
                       </i>
                    </button> 
                    <h2 class="title" style="color: white">{{title}}</h2>
                  </div>
               </ion-header-bar> -->

               <ion-header-bar class="bar header-bar" align-title="center">
                               <div class="buttons"> 
                    <button ng-click ="toggleLeft()" class = "button button-icon" style="color: white"> 
                       <i class = "icon ion-navicon"> 
                       </i>
                    </button> 
                  </div>

                      <h1 class="title" style="color: white;">{{title}}</h1>

</ion-header-bar>
               <ion-nav-view name="menuContent">
<!--                	  <ion-refresher
    pulling-text="Pull to refresh..."
    on-refresh="doRefresh()">
  </ion-refresher> -->
 

				</ion-nav-view> 
            </ion-pane>
                   <ion-side-menu side="left" width="180">
          <ion-header-bar class="bar menu-bar bar-header" style="height: 27%">
            <!-- <h1 class="title" style="background-color: #302F2F; color: white">Left Menu</h1> -->
            <img src="img/Menu/camera.png" style="
              width: 15px;
              height: 12px;
              margin-left: 74%;
              margin-top: 12%;
              ">
            <img src="img/Menu/ellipse_pic.png" style="
              margin-left: -113px;
              height: 107px;
              margin-top: 19px;
          ">
          <img src="img/Menu/edit.png" style="
              width: 15px;
              height: 12px;
              margin-left: -7px;
              margin-top: 72%;
          ">
          <div style="
            margin-left: -100px;
            margin-top: 79%;
            width: 50%;
            font-weight: bold;
            color: white;
        ">Abdul Aziz</div>
        <img src="img/Menu/underline.png" style="
            height: 5px;
            margin-top: 149px;
            margin-left: -89px;
            width: 100px;
        ">

          </ion-header-bar>
          <ion-content class="menu-setting" style="background-color: #302F2F; top: 0px !important;">
            <ul class="list" style="margin-left: 20%;">
              <!-- Note each link has the 'menu-close' attribute so the menu auto closes when clicking on one of these links -->
              <div style="padding-bottom: 5%;">
              <img src="img/Menu/home.png" style="margin-left: -17px;width: 42px;"> <a ng-click="toggleLeft()" ui-sref="app.home" class="item" style="background-color: #302F2F;color: white;margin-left: 17px;margin-top: -50px;position: static; font-size: 15px">Home</a>
                 <!-- <ion-item ui-sref="app.search">Ion-item click go to page 2</ion-item> -->
              </div>

              <div style="padding-bottom: 5%;">
              <img src="img/Menu/search.png" style="margin-left: -17px;width: 42px;"> <a ng-click="toggleLeft()" ui-sref="app.search" class="item" style="background-color: #302F2F;color: white;margin-left: 17px;margin-top: -50px;position: static; font-size: 15px">Search</a>
              </div>

              <div style="padding-bottom: 5%;">
              <img src="img/Menu/invoice.png" style="margin-left: -17px;width: 42px;"> <a href="" class="item" style="background-color: #302F2F;color: white;margin-left: 17px;margin-top: -50px;position: static; font-size: 15px" menu-close="">Invoice</a>
              </div>

              <div style="padding-bottom: 5%;">
              <img src="img/Menu/my_booking.png" style="margin-left: -17px;width: 42px;"> <a href="" class="item" style="background-color: #302F2F;color: white;margin-left: 17px;margin-top: -50px;position: static; font-size: 15px" menu-close="">My Bookings</a>
              </div>

              <div style="padding-bottom: 5%;">
              <img src="img/Menu/track.png" style="margin-left: -17px;width: 42px;"> <a href="" class="item" style="background-color: #302F2F;color: white;margin-left: 17px;margin-top: -50px;position: static; font-size: 15px" menu-close="">Track</a>
              </div>

              <div style="padding-bottom: 5%;">
              <img src="img/Menu/setting.png" style="margin-left: -17px;width: 42px;"> <a href="" class="item" style="background-color: #302F2F;color: white;margin-left: 17px;margin-top: -50px;position: static; font-size: 15px" menu-close="">Setting</a>
              </div>

              <div style="padding-bottom: 5%;">
              <img src="img/Menu/help.png" style="margin-left: -17px;width: 42px;"> <a href="" class="item" style="background-color: #302F2F;color: white;margin-left: 17px;margin-top: -50px;position: static; font-size: 15px" menu-close="">Help</a>
              </div>
            </ul>
          </ion-content>
        </ion-side-menu>
        </ion-side-menus>
        </ion-view>