<ion-content>
<h1>Hello world</h1>
<!-- 		<div class="container">
	<div class="row">
           <div id="custom-search-input">
                <div class="input-group col-md-15">
                    <input type="text" class="form-control input-lg" placeholder="Search" style="height: 46px; background-color: #D1C0DE" />
                    
                </div>
            </div>
	</div>
</div> -->
<br>
<div style="background-color: white">
<div class="col col-offset-20" style="background-color: white">
	  <img src="img/Vendorlist/ellipse_1.png" style="height: 38%;height: 30%;margin-left: -20%;width: 20%;">
	  <img src="img/Vendorlist/yellow_star.png" style="
    margin-bottom: -26%;
    margin-left: -22%;
    width: 5%;
">
<img src="img/Vendorlist/yellow_star.png" style="
    margin-bottom: -26%;
    margin-left: -2%;
    width: 5%;
">
<img src="img/Vendorlist/yellow_star.png" style="
    margin-bottom: -26%;
    margin-left: -2%;
    width: 5%;
">
<img src="img/Vendorlist/yellow_star.png" style="
    margin-bottom: -26%;
    margin-left: -2%;
    width: 5%;
">
<img src="img/Vendorlist/black_star.png" style="
    margin-bottom: -26%;
    margin-left: -2%;
    width: 5%;
">
		<div>
<p style="
			    margin-top: -21%;
			    margin-left: 1%;
			    font-size: 18px;
			">MR. ELECTRIC</p>
		</div>
<div style="margin-top: -3%">
	<button class="button button-royal" style="border-radius:20px;width: 70%;background-color: #D1C0DE;line-height: 26px;min-height: 0px;width: 30%;">
  	<span style="color:#662d91;">Wiring</span>
	</button>
		<button class="button  button-royal" style="border-radius:20px;width: 70%;background-color: #D1C0DE;line-height: 26px;min-height: 0px;width: 30%;">
  	<span style="color:#662d91;">Ceiling</span>
	</button>
</div>
<div style="margin-top: 2%">
	<button class="button  button-royal" style="border-radius:20px;width: 70%;background-color: #D1C0DE;line-height: 26px;min-height: 0px;width: 35%;">
  	<span style="color:#662d91;">Installation</span>
	</button>
	<button class="button button-royal" style="border-radius:20px;width: 70%;background-color: #D1C0DE;line-height: 26px;min-height: 0px;width: 35%;">
  	<span style="color:#662d91;">Maintence</span>
	</button>
</div>
</div>

	
</div>



<br>
<div style="background-color: white">
<div class="col col-offset-20" style="background-color: white">
	  <img src="img/Vendorlist/ellipse_2.png" style="height: 38%;height: 30%;margin-left: -20%;width: 20%;">
	  <img src="img/Vendorlist/yellow_star.png" style="
    margin-bottom: -26%;
    margin-left: -22%;
    width: 5%;
">
<img src="img/Vendorlist/yellow_star.png" style="
    margin-bottom: -26%;
    margin-left: -2%;
    width: 5%;
">
<img src="img/Vendorlist/yellow_star.png" style="
    margin-bottom: -26%;
    margin-left: -2%;
    width: 5%;
">
<img src="img/Vendorlist/yellow_star.png" style="
    margin-bottom: -26%;
    margin-left: -2%;
    width: 5%;
">
<img src="img/Vendorlist/black_star.png" style="
    margin-bottom: -26%;
    margin-left: -2%;
    width: 5%;
">
		<div>
<p style="
			    margin-top: -21%;
			    margin-left: 1%;
			    font-size: 18px;
			">MR. Ali</p>
		</div>
<div style="margin-top: -3%">
	<button class="button button-royal" style="border-radius:20px;width: 70%;background-color: #D1C0DE;line-height: 26px;min-height: 0px;width: 30%;">
  	<span style="color:#662d91;">Wiring</span>
	</button>
		<button class="button  button-royal" style="border-radius:20px;width: 70%;background-color: #D1C0DE;line-height: 26px;min-height: 0px;width: 30%;">
  	<span style="color:#662d91;">Ceiling</span>
	</button>
</div>
<div style="margin-top: 2%">
	<button class="button  button-royal" style="border-radius:20px;width: 70%;background-color: #D1C0DE;line-height: 26px;min-height: 0px;width: 35%;">
  	<span style="color:#662d91;">Installation</span>
	</button>
	<button class="button button-royal" style="border-radius:20px;width: 70%;background-color: #D1C0DE;line-height: 26px;min-height: 0px;width: 35%;">
  	<span style="color:#662d91;">Maintence</span>
	</button>
</div>
</div>

	
</div>

	
</ion-content>